body{
	background: pink;
}
#maindiv{
	background:skyblue;
	display:flex;
	justify-content:space-around;
	margin:10%;
}
.subdiv{
	background:lightgreen;
	margin:3%;
	border-radius:5%;
	text-align:center;
	box-shadow:4px 4px 4px 4px;
	padding: 5%;
}
.subdiv img{
	width:70%;
}
img{
	margin:3%;
	border-radius:4%;
	height:45%;
	width:70%;
}
